/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --primary-background: #fff;
  --main-accent: #01b0d3;
  --primary-text: #242333;
  --body-font: "Inter", sans-serif;
  --heading-font: "Literata", serif;
}

body {
  font-family: var(--body-font);
}

#wrapper {
  background-color: var(--primary-background);
  max-width: 1200px;
  margin: auto;
  padding: 0 10px;
}

h1, h2, h3 {
  font-size: large;
  font-family: var(--heading-font);
}


/* header */
#top-header {
  font: var(--body-font);
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.siteName a {
  font-size: 32px;
  color: var(--primary-text);
  text-decoration: none;
  font-weight: 800;
}

#tools {
  font-size: 3.5vw;
  font-variant: small-caps;
  display: flex;
  width: 20%;
  justify-content: space-evenly;
}

#tools a {
  color: var(--primary-text);
  text-decoration: none;
  text-transform: uppercase;
}

/* navigation */
nav ul {
  background-color: var(--primary-text);
  color: var(--primary-background);
  padding: 1em;
  list-style: none;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

/* hero */
#hero {
  background-image: url("/images/vehicles/delorean.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

#hero h2 {
  margin-top: 0;
  margin-bottom: 0;
}

#hero ul {
  background-color: #ffffff76;
  padding-left: 10px;
}

#hero li {
  list-style: none;
  color: var(--main-accent);
  font-size: 0.85em;
}

#hero span {
  font-weight: 800;
}

#actionbtn {
  background-color: var(--main-accent);
  border: solid 2px var(--primary-text);
  font-weight: 800;
  border-radius: 5px;
  padding: 8px 10px;
  cursor: pointer;
}

#reviews {
  font-size: small;
  margin-bottom: 30px;
}

#reviews  ul {
  padding-left: 18px;
}

#reviews li{
  margin-bottom:15px;
}

.upgrade-row {
  gap: 10px;
  display: flex;
  margin-bottom: 10px;
  padding-bottom: 20px;
}

.upgrade-row a{
  text-align: center;
  flex: 1;
  color: var(--primary-text);
}

.upgrade-item {
  text-align: center;
  background-color: var(--main-accent);
  border: 1px solid var(--primary-text);
  padding:10px;
  height: 5.5em;
}

@media only screen and (min-width: 45rem) {
  #wrapper {
    margin:0 auto;
    width: 75vw;
    max-width: 1200px;
    border: 5px solid var(--main-accent);
    border-radius: 10px;
    margin-top: 1rem;
    padding: 1vw;
  }

  body {
    background-image: url("/images/site/checkerboard.jpg");
    background-size: 400px 400px;
    background-position: 0 0, 0 0, -50px -50px, 50px 50px;
  }


  #wrapper {
    border: 5px solid var(--main-accent);
    border-radius: 10px;
    margin-top: 1rem;
    padding: 1vw;
    width: 75vw;
    max-width: 1200px;
  }

  #tools {
    font-size: inherit;
  }
  
  nav {
    margin-top: 0.75rem;
  }

  nav ul {
    justify-content: space-evenly;
    padding: 0.5rem 0;
    margin: 0;
  }

  nav li {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  #hero ul {
    font-size: 1.6em;
    margin-left: 2em;
    margin-top: 1em;
  }

  #actionbtn {
    display: block;
    width: 90%;
    margin-top: 1.5em;
    background-color: var(--main-accent);
    color: var(--primary-text);
    font-weight: 800;
    font-size: large;
  }
}